
@{
    // ViewBag.Title = "Home Page";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<p>
    <img src="http://mortgagesolutionsofgeorgia.net/wp-content/uploads/2014/09/succesicanbesuccessfulbabybeachfunnysuccess-54afa62621fc10e5c2b7c774430c4311_h.jpg" />
</p>