@using MvcSample.Web.Models
@model User
@{
    ViewBag.Title = "My Test";
    string helloClass = null;
}

<p>Hello @Model.Name</p>
<p>Counter: @ViewBag.BrowseCount </p>
<p>Config Store Url: @ViewBag.ConfigUrl</p>